button {
    background-color: #fff;
    padding: 2px;
    border-radius: 10px;
    width: 20%;
    height: 5%;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #e3e3e3; /* Blue background */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  
  .btn:hover {
    background-color: #59595c; /* Darker blue on hover */
    color:white
  }

  .btn-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 5px;
  }
  