.sorted-asc {
    background-color: #d0f0c0; 
  }
  
  .sorted-desc {
    background-color: #f0d0c0; 
  }
  
  .sorted-symbol {
    display: inline-block;
    font-size: 0.75em;
    margin-left: 5px;
  }